<standalone name="Resistant Plant">
	<link name="base_link">
		
		<inertial>
			<mass value="0.01"/>
		</inertial>

		<visual name="">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./meshes/resistant_plant.glb" />
			</geometry>
		</visual>
		
		<collision name="">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./meshes/pot_col.glb" />
			</geometry>
		</collision>
		
		<collision name="">
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="./meshes/plant_col.glb" />
			</geometry>
		</collision>

	</link>
</standalone>
